body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  max-width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  color: #3a86ff;
}

h2 {
  font-size: 22px;
}

label {
  display: block;
  padding: 10px 0px;
}

input {
  padding: 14px 0px 14px 10px;
  display: block;
  margin-bottom: 10px;
}

input.message {
  width: 100%;
}

button {
cursor: pointer;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.02em;
font-size: 14px;
font-weight: 700;
padding: 14px 35px;
background-color: #8338ec;
color: #fff;
border-radius: 4px;
border: 2px solid #8338ec;
}

button:hover {
  background-color: #fff;
  color: #8338ec;
}

button:first-of-type {
  background-color: #ff006e;
  border: 2px solid #ff006e;
}

button:first-of-type:hover {
  background-color: #fff;
  color: #ff006e;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .intro {
    max-width: 50%;
  }

  #form-wrap {
    width: 80%;
  }
}

.u-spacer {
  margin: 20px 0px;
}
